/*--------------------------------------------------------------
# Light Theme
----------------------------------------------------------------*/

/* Color Vars */
:root {
  --white_light: #FFFFFF;
  --grey_light: #BDBDBD;
  --red_dark: #5A4C4C;
  --black_dark: #2B2B2B;
}

body {background: var(--grey_light);}

.top {
/* Top_bar */
position: absolute;
width: 1900px;
height: 76px;
left: 10px;
top: 10px;

background: var(--white_light);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;   

}

.topArea{
/* Reserve */
position: absolute;
width: 1878px;
height: 60px;
left: 21px;
top: 18px;

background: transparent;
border-radius: 15px;  
}

.BBoxLeft{
/* Techical */
position: absolute;
width: 945px;
height: 535px;
left: 10px;
top: 96px;

background: var(--white_light);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;    
}

.BBoxLeftArea {
/* Techical */
position: absolute;
width: 923px;
height: 518px;
left: 21px;
top: 104px;

background: transparent;
border-radius: 15px;    
}

.BBoxRight{
/* Financials */
position: absolute;
width: 945px;
height: 535px;
left: 965px;
top: 96px;

background: var(--white_light);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;    
}

.BBoxRightArea{
/* Techical */
position: absolute;
width: 923px;
height: 518px;
left: 976px;
top: 104px;

background: transparent;
border-radius: 15px;
}

.SBoxLeft {
/* Reserve */
position: absolute;
width: 626px;
height: 429px;
left: 10px;
top: 641px;

background: var(--white_light);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;    
}

.SBoxLeftArea{
  /* Reserve */
position: absolute;
width: 604px;
height: 413px;
left: 21px;
top: 649px;

background: transparent;
border-radius: 15px;
}

.SBoxMid {
/* Active */
position: absolute;
width: 626px;
height: 429px;
left: 647px;
top: 641px;

background: var(--white_light);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;    
}

.SBoxMidArea{
/* Reserve */
position: absolute;
width: 604px;
height: 413px;
left: 658px;
top: 649px;

background: transparent;
border-radius: 15px;  
}

.SBoxRight{
/* Dividends */
position: absolute;
width: 626px;
height: 429px;
left: 1284px;
top: 641px;

background: var(--white_light);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;    
}

.SBoxRightArea{
/* Reserve */
position: absolute;
width: 604px;
height: 413px;
left: 1295px;
top: 649px;

background: transparent;
border-radius: 15px;  
}

/* Buttons */

.ButtonHistory{
/* Rectangle 2 */
position: absolute;
width: 65px;
height: 65px;
left: 1765px;
top: 16px;

background: var(--grey_light);
border-radius: 15px;
}


.ButtonColor{
/* Rectangle 1 */


position: absolute;
width: 65px;
height: 65px;
left: 1839px;
top: 16px;

background: var(--grey_light);
border-radius: 15px;  
}


/* Import from Beershire Bootstrap */
/*--------------------------------------------------------------
# Custom CSS
----------------------------------------------------------------*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;
  }

  
